<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Florian Weisshardt</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>Alle</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alle</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>mzEUbb:11e2cccb8101b75e06266808d16b9636554ff11c3acd2fc4826d57cd7b0fe72b</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>fmw@ipa.fhg.de</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>