<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.423</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy"/>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>cob-sim1</name>
      <description></description>
      <remoteFS>/home/hudson/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>cob-sim1</host>
        <port>22</port>
        <username>hudson</username>
        <password>PVyhuTIggd+pU3yKW22oMD2vEPNfB5HJmpV8TjnI5VfjR17ONrBJLOK8Z6qM6yrZ</password>
        <privatekey></privatekey>
        <jvmOptions></jvmOptions>
      </launcher>
      <label>gazebo</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>cob-sim2</name>
      <description></description>
      <remoteFS>/home/jenkins/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>cob-sim2</host>
        <port>22</port>
        <username>jenkins</username>
        <password>tNKu0VXCjLknOzYZQd8Iig==</password>
      </launcher>
      <label>gazebo chroot</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>cob-sim3</name>
      <description></description>
      <remoteFS>/home/hudson/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>cob-sim3</host>
        <port>22</port>
        <username>hudson</username>
        <password>PVyhuTIggd+pU3yKW22oMD2vEPNfB5HJmpV8TjnI5VfjR17ONrBJLOK8Z6qM6yrZ</password>
        <privatekey></privatekey>
        <jvmOptions></jvmOptions>
      </launcher>
      <label>gazebo</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>fmw-z600-1</name>
      <description></description>
      <remoteFS>/home/hudson/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>15</inDemandDelay>
        <idleDelay>10</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>fmw-z600-1</host>
        <port>22</port>
        <username>hudson</username>
        <password>PVyhuTIggd+pU3yKW22oMD2vEPNfB5HJmpV8TjnI5VfjR17ONrBJLOK8Z6qM6yrZ</password>
        <privatekey></privatekey>
        <jvmOptions></jvmOptions>
      </launcher>
      <label>gazebo</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>fmw-z600</name>
      <description></description>
      <remoteFS>/home/jenkins/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>fmw-z600.ipa.fhg.de</host>
        <port>22</port>
        <username>jenkins</username>
        <password>tNKu0VXCjLknOzYZQd8Iig==</password>
      </launcher>
      <label>gazebo chroot</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>fmw-z600-2</name>
      <description></description>
      <remoteFS>/home/hudson/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>15</inDemandDelay>
        <idleDelay>10</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>fmw-z600-2</host>
        <port>22</port>
        <username>hudson</username>
        <password>PVyhuTIggd+pU3yKW22oMD2vEPNfB5HJmpV8TjnI5VfjR17ONrBJLOK8Z6qM6yrZ</password>
        <privatekey></privatekey>
        <jvmOptions></jvmOptions>
      </launcher>
      <label>gazebo</label>
      <nodeProperties/>
    </slave>
  </slaves>
  <quietPeriod>15</quietPeriod>
  <scmCheckoutRetryCount>3</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_fmw</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*_ipa-fmw_.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_320</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa320.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>BROKEN</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter>
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>false</unstable>
          <failed>true</failed>
          <aborted>true</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_uhr</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[3]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*__ipa-uhr__.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_goa</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[3]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa-goa.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_jsf</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[3]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa-jsf.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_aub</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[3]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*abubeck.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_bnm</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa-bnm.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_cpc-pk</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*cpc-pk.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_uhr-fm</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa-uhr-fm.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_fmw-jk</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*fmw-jk.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>gazebo</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*gazebo.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_taj-dm</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa-taj-dm.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>c_e</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*cob_extern.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>c_c</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*cob_common.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>c_d</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*cob_driver.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>c_s</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*cob_simulation.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>c_a</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*cob_apps.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>c_i</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*cob3_intern.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_rmb</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa-rmb.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_fmw-ws</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*ipa-fmw-ws.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_aub-nhg</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*nhg-ipa.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>u_b-it-bots</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[22]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*b-it-bots.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>BUNSTABLE</name>
      <description>Unstable jobs regarding the last 5 builds.</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.BuildTrendFilter>
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <buildCountTypeString>AtLeastOne</buildCountTypeString>
          <statusTypeString>Unstable</statusTypeString>
          <amountTypeString>Builds</amountTypeString>
          <amount>5.0</amount>
        </hudson.views.BuildTrendFilter>
        <hudson.views.BuildTrendFilter>
          <includeExcludeTypeString>excludeMatched</includeExcludeTypeString>
          <buildCountTypeString>All</buildCountTypeString>
          <statusTypeString>Unstable</statusTypeString>
          <amountTypeString>Builds</amountTypeString>
          <amount>5.0</amount>
        </hudson.views.BuildTrendFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>BTESTFAILED</name>
      <description>The last 5 tests all failed.</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[24]/jobNames/comparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.BuildTrendFilter>
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <buildCountTypeString>All</buildCountTypeString>
          <statusTypeString>Unstable</statusTypeString>
          <amountTypeString>Builds</amountTypeString>
          <amount>5.0</amount>
        </hudson.views.BuildTrendFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
  </views>
  <primaryView>BROKEN</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>chroot</label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>